h1{
    font-size: xx-large;
    color: red;

}

.negro{
    background-color: black;
    color: white;
}

#parrafo{
    background-color: white;
}

#parrafo2{
    background-color: rgb(119, 119, 252);
}